/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: calc(1em + 1vw);
  line-height: 1.4;
  max-width: 100%;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body{
    font-size: 1em;
    font-family: 'Belleza', sans-serif;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
   }

   h1{
    font-size: 80px;
    font-family: circe,sans-serif;
    font-weight: 700;
    color: white;
    font-style: normal;
    text-transform: uppercase;
   }

   h2{
    font-size: 46px;
    font-family: circe,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
   }

   h3{
    font-size: 30px;
    font-family: circe,sans-serif;
    font-weight: 700;
    color: #30373D;
    font-style: normal;
    text-transform: uppercase;
   }

   .hero {
    min-height:100%;
    background:linear-gradient(0deg, rgba(61, 61, 61, 0.3), rgba(61, 61, 61, 0.2)), url("../img/mobileheroc.jpg");
    background-size:cover;
    min-height: 650px;
    padding: 0% 5%;
    padding-top: 30px;
    color: white;
    text-decoration: none;
  }
  nav {
   width: 100%;
  }

  #menu{
    float: right;
  }
  #logo{
    float: left;
    margin-right: 5%;
  }

  .white_text_menu{
    color: white;
    font-size: 18px;
  }
  .white_text_menu_u{
    color: white;
    text-decoration: underline;
    font-size: 18px;
  } 

  .white_text_menu2{
    color: white;
    font-size: 14px;
  }

  
  .hero-content h1, .hero-content p {
    text-align: right;
    align-items: right;
   
  }

  .hero-content p{
    line-height: .6;

  }
  .hero-content{
    padding-bottom: 90px;
  }
  #menu{
    text-decoration: none;
    color: white;

  }
  .ms1-content {
    padding: 12% 5%;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .ms2{
    background-color: #30373D;
    color: white;
    min-height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ms2-content, .ms3-content{
    padding: 5%;
  
  }
  .ms3-img1{
    display: none;
  }
  .ms3-img2{
    display: flex;
    width: 95%;
  }

 .nav_normal {
  background-color: #30373D;
  background-size: cover;
  min-height: 170px;
  padding: 0% 5%;
  padding-top: 30px;
  color: white;
  text-decoration: none;
  border-bottom:solid 8px #B15654 ;

 }
 .watermark-full{
   padding-top: 30px;
 }
 
 .watermark-1 img{
   width: 80%;
  max-width: 150px;
} 

.treename{
  padding-bottom: 20px;
  width: 50%;
  padding-right: 2%;
  align-self: flex-start;
}

.treename h3 {
  line-height: 1;
  margin: 0;
  
}

.treesilo img{
  width: 100%;
}
.treesilo {
 width: 35%;
 margin-left: 7%;
 margin-right: 2%;
 padding-bottom: 10px;
 max-width: 300px;
}
.bottomtop{
display: flex;
margin: 0 auto;
align-self: flex-end;

}
.tree22{
  display: flex;

}

.nearbysection{
  width: 100%;
  padding-top: 20px;
  padding-bottom:20px;
  background:#ebebeb;
  text-align: center;
  margin: 0 auto;
    
}
.nearby-content{
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.n-1{
  display: flex;
  width: 8em;
  margin-bottom: 1em;
  border-bottom: 8px solid #B15654;
  height: 8em;

}


.n-2{
  display: flex;
  border-bottom: 8px solid #B15654;
  width: 8em;
  height: 8em;
  ; 
}

.tb-1 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/01/03.jpg"); 

}
.tb-2 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/02/03.jpg"); 

}
.tb-3 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/03/03.jpg"); 

}
.tb-4 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/04/03.jpg"); 

}
.tb-5 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/05/03.jpg"); 

}
.tb-6 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/06/03.jpg"); 

}
.tb-7 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/07/03.jpg"); 

}
.tb-8 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/08/03.jpg"); 

}
.tb-9 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/09/03.jpg"); 

}
.tb-10 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/10/03.jpg"); 

}
.tb-1 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/01/03.jpg"); 

}
.tb-1 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/01/03.jpg"); 

}
.tb-11 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/11/03.jpg"); 

}
.tb-12 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/12/03.jpg"); 

}
.tb-13 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/13/03.jpg"); 

}
.tb-14 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/14/03.jpg"); 

}
.tb-15 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/15/03.jpg"); 

}
.tb-16 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/16/03.jpg"); 

}
.tb-17 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/17/03.jpg"); 

}
.tb-18{
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/18/03.jpg"); 

}
.tb-19 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/19/03.jpg"); 

}
.tb-20 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/20/03.jpg"); 

}
.tb-21 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/21/03.jpg"); 

}
.tb-22 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/22/03.jpg"); 

}
.tb-23 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/23/03.jpg"); 

}
.tb-24 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/24/03.jpg"); 

}
.tb-25 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/25/03.jpg"); 

}
.tb-26 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/26/03.jpg"); 

}
.tb-27 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/27/03.jpg"); 

}
.tb-28 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/28/03.jpg"); 

}
.tb-29 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/29/03.jpg"); 

}
.tb-30 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/30/03.jpg"); 

}
.tb-31 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/31/03.jpg"); 

}
.tb-32 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/32/03.jpg"); 

}
.tb-33 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/33/03.jpg"); 

}
.tb-34 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/34/03.jpg"); 

}
.tb-35 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/35/03.jpg"); 

}
.tb-36 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/36/03.jpg"); 

}
.tb-37{
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/37/03.jpg"); 

}
.tb-38 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/38/03.jpg"); 

}
.tb-39 {
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/39/03.jpg"); 

}


.n-1b, .n-2b{
  align-self: flex-end;

}
p.smallnearby{
  font-size: 18px;
  text-align: left;
  font-family: circe,sans-serif;
  font-weight: 700;
  margin: 0px 10px;
  margin-bottom: 10px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
}

h1.smallnearby{
  font-size: 70px;
  opacity: .8;
  text-align: left;
  font-family: circe,sans-serif;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 2px;
  color: #B15654;
  font-style: normal;
  text-transform: uppercase;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}
.tree_hero{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/01/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree2{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/02/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree3{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/03/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree4{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/04/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree5{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/05/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree6{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/06/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree7{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/07/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree8{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/08/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree8{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/08/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree9{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/09/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree10{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/10/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree11{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/11/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree12{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/12/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree13{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/13/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree14{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/14/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree15{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/15/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree16{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/16/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree17{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/17/05.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree18{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/18/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree19{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/19/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree20{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/20/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree21{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/21/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree22{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/22/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree23{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/23/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree24{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/24/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree25{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/25/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree26{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/26/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree27{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/27/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree28{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/28/05.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree29{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/29/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree30{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/30/07.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree31{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/31/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree32{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/32/02.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree33{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/33/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree34{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/34/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree35{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/35/04.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree36{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/36/06.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree37{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/37/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree38{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/38/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;

}
#tree39{
  background-image: linear-gradient(0deg, rgba(48,55,61,1) -30%, rgba(2,0,36,0) 70%), url("../img/gallery/39/03.jpg"); 
  background-size: cover;
  min-height: 650px;
  color: white;
  text-decoration: none;
  display:flex;
  width: 100%;
  margin: 0 auto;


}


#absolute {
  position: absolute;
  padding-left: 5%;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
  border-bottom: #B15654 2px solid;
}

button.accordion:after {
  font-family: FontAwesome;
  content: "\f078";
  font-family: "fontawesome";
  font-size: 18px;
  float: right;
}

button.accordion.is-open:after {
  content: "\f077";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}


a {
  text-decoration: none;
}

a.linky:link {
  color: #30373D;
  border-bottom: 1px solid #B15654;
}
a.linky:visited  {
  color:  #B15654;
  border-bottom: 1px solid #B15654;
}
a.linky:hover{
  color: #EBEBEB;
  border-bottom: 1px solid #30373D;
  
}

/* MAP.JS CSS BELOW */


#mapid { height: 80vh; }

.leaflet-popup-content-wrapper {
  width: 400px;
}

/*.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}
*/

.flex
{
  width: 400px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

}

.flex1{
  width: 275px;
  padding-left: 20px;
  padding-right: 30px;
  line-height: 1;
}
#overidesmall{
  font-size: 20px;
  line-height: 1;
  margin-top: 25px;
  margin-bottom: 0px;
}
.closertitle{
  margin-top: 6px;
  margin-bottom: 20px;
}
.black {
  background:#30373D;
  background-size: cover;
  width: 85%; 
  padding-left: 5%;
  padding-right: 3%;
}

.white_text {
  color: #efefef;
}

.smaller {
  font-size: 24pt;
}

.fullwidth {
  width: 95%;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 20px solid #fff;
}

.whole{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.half {
  width: 40%;
  padding: 2.5%;
}
img.half{
  max-width: 300px;
}
.morephotos{
  width: 15%;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 15px;
  align-self: flex-end;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.standard{
  padding-top: 20px;
  padding-bottom: 20px;
}
.standardbottom{
  padding-bottom: 30px;
}
footer{
  height: 50px; 
  margin-top:30px;
  background-color: #30373D;
}
* { box-sizing: border-box; }

.carousel {
  background: #FAFAFA;
}

.carousel-cell-image {
  display: block;
  margin-right: 10px;
  height: 400px;
  min-width: 200px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
.flickity-button-icon:hover {
  fill: #B15654;
}

.gallerytitle {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

#left {
  margin-left: 5%;
  font-size: 28px;
  
}
p.closer {
  line-height: 1.2;
  font-size: 16px;
  margin: 0 auto;

}
.tree-search {
  width: 90%;
  margin-left: 5%;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.tree-search-01 img{
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}
.tree-search-01{
  width: 40%;
  height: auto;
  max-width: 150px;
  margin-left: 5%;
  margin-top: 20px;
}
.tree-search-02{
  width: 55%;
}

.smallersearch {
  font-size: 28px;
  line-height: 1;
  padding: 0;
  margin-bottom: 3px;
}
.smallersearch2{
  font-size: 20px;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.smallersearch3{
  font-size: 14px;
  padding: 0;
  margin: 0;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  font-size: 14pt;
  border: 3px solid #30373D;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #30373D;
}


.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid #30373D;
  background: #30373D;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 90%;
  max-width: 700px;
  margin-left: 5%;
  margin-top: 20px;
}

.section, .video-container, .color-overlay {
  display: none;

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
 svg:hover {
  fill: red;
}

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
@media only screen and (min-width: 450px) {
  h2{
    font-size: 55px;
    font-family: circe,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
   }
 
  h3{
    font-size: 40px;
    font-family: circe,sans-serif;
    font-weight: 700;
    color: #30373D;
    font-style: normal;
    text-transform: uppercase;
   }
   p.smallnearby{
    font-size: 22px;
    text-align: left;
    font-family: circe,sans-serif;
    font-weight: 700;
    margin: 0px 10px;
    margin-bottom: 10px;
    color: white;
    font-style: normal;
    text-transform: uppercase;
  }

}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 700px) {
  /* Style adjustments for viewports that meet the condition */


  .watermark-full{
    padding-top: 30px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .watermark-1{
    width: 20%;
    padding-top: 20px;
  }
  .watermark-2{
    width: 70%;

  }
      
        #center {
          max-width: 80%;
          margin: 0 auto;
          text-align:center;
        }
        .gallerytitle {
          font-size: 48px;
          line-height: 1.2;
        }
        p.closer {
          line-height: 1.2;
          font-size: 24px;
          padding-bottom: 9%;
        }
        .container {
          max-width: 800px;
          margin: 50px auto;
        }

        .ms1{
          position: relative;
          min-height: 900px;
          margin-top: 8%;
        }
        .ms1-content, img.ms1-img{          
        position: absolute;

        }
      .ms1-img{
          width: 70%;
          margin-left: 30%;
          margin-top: 5%;
        }
        .ms1-content{
          width: 60%;
          padding: 5%;
          margin-top: 20%;
          background-image: none;
          background-color: #fff;
          z-index: 9;
        }
      
        .ms2{
          margin-top: 20%;
        }
        .ms2{
          background-image: url("../img/home_sunrise.jpg");
          min-height: 80%;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          color: #30373D;
        }
  
        #ms3{
          display: flex;
          width: 90%;
          flex-direction: row;
          justify-content: flex-start;
          padding: 2%;
  
        }
        .ms3-img1{
          display: flex;
          width: 95%;
          padding-top: 40x;
        }
        .ms3-img2{
          display: flex;
          width: 95%;
        }
        .ms3-p{
          padding-top: 30px;
        }

        .ms3-img, .ms3-content{
          padding: 2%;
        }
       
         

    
}

@media only screen and (min-width: 1220px){
 

  .whole{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .prt1 {
    width: 70%;

  }
.nearbysection {
  margin: 0;
  padding: 0px 40px;

}
  .prt2 {
    width: 20%;
    padding: 0;
    margin-top: 20px;
    background: #fff;
    
  }
  .lessmargin {
    margin-top: 10px;
    font-size: 22px;
  }
  .wrap{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;

  }
  .tree-search {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
  }
  .hero{
    display: none;
  }
    .section {
      position: relative;
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

   .contentcontent {
      padding-top: 50px;
      z-index: 1;
      opacity: 1;
      margin: 0 auto;
      width: 90%;
      color: white;
    }
    
   .hero-content {
     padding-top: 75px;
 
  }
    .vidwidth{
      width: 100%;
   
    }
    .video-container {
      display: flex;
      min-height: 700px;
      position: absolute;
      width: 100%;
    }
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

